/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wp-admin[class*="yodel-image"] #wpwrap {
  height: calc(100vh - var(--wp-admin--admin-bar--height)) !important;
  overflow: hidden !important;
}

.wp-admin[class*="yodel-image"] #adminmenuwrap {
  height: calc(100vh - var(--wp-admin--admin-bar--height)) !important;
  overflow: hidden !important;
}

.wp-admin[class*="yodel-image"] #adminmenu {
  height: 100% !important;
  overflow-y: scroll !important;
  padding-right: 17px !important;
  box-sizing: content-box !important;
}

.wp-admin[class*="yodel-image"] #wpcontent {
  padding: 0 !important;
}

.wp-admin[class*="yodel-image"] #wpbody-content {
  padding: 0 !important;
}

.wp-admin[class*="yodel-image"] #wpfooter {
  display: none !important;
}

.yodel-image-button-group {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.yodel-image-button-group > * {
  position: relative;
  top: -3px;
}

#yodel-image-metadata__credit-menu {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  display: none;
}

#yodel-image-metadata__generate-all {
  display: block;
  float: left;
  width: 100%;
  margin: 0 0 10px;
}

.yodel-image-metadata__field {
  position: relative;
}

.yodel-image-metadata__field input,
.yodel-image-metadata__field textarea {
  padding-right: 28px;
}

.image-editor,
[id^="image-editor-"],
#yodel-image-editor,
#yodel-image-generator {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-editor {
  min-height: 600px;
  max-height: 100%;
  aspect-ratio: 5 / 4;
}

form[id="post"] .image-editor {
  max-height: 80vh;
}

.yodel-image-generator-frame {
  position: relative;
}

.yodel-image-generator-frame .media-frame-content {
  overflow: visible;
}

.yodel-image-generator-frame .yodel-image-credit-menu {
  position: absolute;
  top: -42px;
  right: 72px;
  display: none !important;
}

@media only screen and (min-width: 481px) {
  .yodel-image-generator-frame .yodel-image-credit-menu {
    display: flex !important;
  }

  #yodel-image-metadata__credit-menu {
    display: block;
  }
}
